.adaptability.section
  ._wrap.wrap
    ._text
      ._title АДАПТИВНОСТЬ
      ._descr Зачем ограничивать свой бизнес только пользователями стандартных компьютеров и ноутбуков? Ведь сегодня все чаще люди заходят в интернет с мобильных гаджетов. Дайте им возможность купить именно у вас, обеспечив своему сайту правильное отображение на любом виде устройства.
    img(src="img/adaptability-bg.png", alt="alt")._img