.recent-projects.section
  ._wrap.wrap
    ._header
      ._title ПОСЛЕДНИЕ ПРОЕКТЫ
    ._list
      a(href="#", title="title")._list-item
        img(src="img/project1.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project2.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project3.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project4.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project5.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project6.png", alt="alt")._list-item-img
    ._list.-hide
      a(href="#", title="title")._list-item
        img(src="img/project1.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project2.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project3.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project4.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project5.png", alt="alt")._list-item-img
      a(href="#", title="title")._list-item
        img(src="img/project6.png", alt="alt")._list-item-img
    ._footer
      ._btn еще больше