.traid-in.section
  ._wrap.wrap
    ._title TRADE-IN
    ._list
      ._list-item
        ._list-item-header
          +svg('pc', 'traid-in__svg')
          | ПРОГРАММА
        ._descr Если Вы решили обновить свой сайт или интернет-магазин, то программа трейд-ин именно то, что Вам нужно.Благодаря данной программе, Вы сможете приобрести новый сайт с минимальными вложениями, при этом утилизировав старый. Вам лишь нужно связаться с нашим отделом трейд-ин по телефону 8 (499) 390 6083, отправить письмо на адрес www@trofimov.org, либо разместить заявку на сайте.

      ._list-item
        ._list-item-header
          +svg('magnify', 'traid-in__svg')
          | ПРОЦЕСС РАБОТЫ
        ._descr Мы делаем предварительную оценку, параллельно, с Вами согласовываем веб интерфейс и систему управления, и если Вас все устраивает, заключаем договор. При этом Вам не придется останавливать работу в интернете, так как передача Вашего сайта осуществляется только после разработки нового. Тем самым Вы экономите не только время, но и деньги.

      ._list-item
        ._list-item-header
          +svg('diamond', 'traid-in__svg traid-in__diamond')
          | УСЛОВИЯ
        ._descr Вам нужно предоставить максимум информации о предоставляемом интернет-проекте, которое Вы хотите обновить.Данная информация поможет нам в кратчайшие сроки рассмотреть Ваш запрос и дать положительный ответ. Для этого, убедительно просим Вас, присылать информацию на Вашем фирменном бланке с печатью, а так же фотографии домена и хостинга.
    ._btn ОЦЕНИТЬ МОЙ САЙТ