.menu.section
  ._wrap.wrap
    nav._nav
      a(href="#")._nav-item.-active Главная
      a(href="#")._nav-item О нас
      a(href="#")._nav-item Услуги
      a(href="#")._nav-item Наши работы
      a(href="#")._nav-item Контакты
    ._burger-menu
      span._burger-menu-line