.banner.section
  ._wrap.wrap
    ._title НАШИ САЙТЫ ЗАСТАВЛЯЮТ РАБОТАТ ВАШ БИЗНЕС.
    ._descr Большинство веб-студий считают окончанием работы загрузкусайта в интернет. Но почти никто не умеет делать проекты, которые работают и приносят прибыль.
    ._works-list
      ._works-list-item
        +svg('star', 'banner__svg')
        ._num 518
        ._text оказанных услуг

      ._works-list-item
        +svg('list', 'banner__svg')
        ._num 518
        ._text оказанных услуг

      ._works-list-item
        +svg('diamond', 'banner__svg')
        ._num 518
        ._text оказанных услуг