doctype html
html
    include ../elements/head/head
    +head('Page title', 'Page description', 'Page keywords')
    body
        include ../elements/banner/banner
        include ../elements/menu/menu
        include ../elements/studio/studio
        include ../elements/slogan/slogan
        include ../elements/development/development
        include ../elements/search-engines/search-engines
        include ../elements/recent-projects/recent-projects
        include ../elements/adaptability/adaptability
        include ../elements/traid-in/traid-in
        include ../elements/care/care
        include ../elements/form/form
        
        script(src="js/libs.min.js")
        script(src="js/custom.js")