.search-engines.section
  ._wrap.wrap
    ._text
      ._title ПРЕВЫЕ В ПОИСКЕ
      ._descr Мы предлагаем услуги по SEO продвижению сайтов в ведущих поисковых системах Yandex и Google. Поисковое продвижение сайта в нашей веб-студии — это гарантированное присутствие на лидирующих позициях и привлечение необходимой аудитории.
    ._img
      img(src="img/Google.png", alt="alt")
      img(src="img/yandex.png", alt="alt")