.studio.section
  ._wrap.wrap
    ._header
      ._text Студия
      ._descr Основная специализация — проектирование сайов и landing page. Наша команда, состоящая из дизайнеров, маркетологов и программистов, поддерживает каждый проект на протяжении всей его жизни. Студия занимается разработкой индивидуального дизайна, оптимизацией скорости работы продукта, предоставляет услуги по продвижению сайтов.
        ._descr-bg WE

    ._list-works
      ._list-works-item
        +svg('startup', 'studio__svg')
        ._item-title Старт
        ._item-descr Вы хотите получать больше клиентов и прибыли из интернета?С нуля разработаем сайт любой сложности,учитывая индивидуальные особенности вашего бизнеса. Стоимость создания сайта в каждом конкретном случае индивидуальна и рассчитывается исходя из пожеланий и требований 
        ._price
          ._price-num от 1000 руб
          +svg('right_arrow', 'animate')

      ._list-works-item
        +svg('smartphone', 'studio__svg')
        ._item-title Продвижение
        ._item-descr Одним из важнейших этапов продвижения сайта является поисковая оптимизация (SEO), которая представляет собой комплекс мер по повышению позиции сайта в поисковых системах, и, таким образом, позволяет увеличить его целевую посещаемость.
        ._price
          ._price-num от 2000 руб
          +svg('right_arrow', 'animate')

      ._list-works-item
        +svg('lifeline', 'studio__svg')
        ._item-title Поддержка
        ._item-descr У Вас уже работающий бизнес и Вы регулярно нуждаетесь в услугах веб-студиино брать сотрудника в штат и оборудовать дополнительное рабочее место не выгодно? Мы готовы взять эти проблемы на себя и предоставлять нужные услуги  удаленно.
        ._price
          ._price-num от 1000 руб
          +svg('right_arrow', 'animate')