.form.section
  ._wrap.wrap 
    ._text
      ._title СВЯЖИТЕСЬ С НАМИ
      ._descr Готовы начать работу? Отправьте сообщение и свои контакты, мы ответим вам в течении 2-ух дней. Схема работы с каждым клиентом будет разработана индивидуально в зависимости от поставленных задач.
    form(action="" method="method")._form
      ._input-box
        input(type="text" placeholder="Ваше имя")._input.-name
        input(type="text" placeholder="Ваша фамилия")._input.-suname
      input(type="text" placeholder="E-mail")._input.-mail
      textarea(name="", cols="30", rows="10" placeholder="Введите ваше сообщение")._input.-textarea
      ._subtext Наши специалисты свяжутся с вами как можно скорее
      button(type='submit')._btn ОТПРАВИТЬ