.care.section
  ._wrap.wrap
    ._text
      ._title ЗАБОТА О КАЖДОМ
      ._descr Рожденный в нашей студии проект обреченна пожизненную поддержку. Мы обучим васведению сайта, обновим контент и настроимпродвижение в любой момент. Каждая детальвашего бизнеса является состовляющим звеномнашей студии. И мы позаботимся о вас.
    img(src="img/care-img.png ", alt="alt")._img