.development.section
  ._wrap.wrap
    ._title Разработка
    ._list
      ._list-item
        ._list-item-title LANDING PAGE
        ._price
          ._price-num.-blue от 15000 руб
          +svg('right_arrow', 'development__arrow')

      ._list-item
        ._list-item-title ВЕБ-САЙТ
        ._price
          ._price-num.-yellow от 10000 руб
          +svg('right_arrow', 'development__arrow')

      ._list-item
        ._list-item-title ИНТЕРНЕТ МАГАЗИН
        ._price
          ._price-num.-green от 20000 руб
          +svg('right_arrow', 'development__arrow')